{% extends 'SupraMileageBundle::layout.html.twig' %}

{% block content -%}
    <h1>Edit Client</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Show all clients
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
