{% extends 'SupraMileageBundle::layout.html.twig' %}

{% block content -%}
    <h1>New Client</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Show all clients
        </a>
    </li>
</ul>
{% endblock %}
