{% extends 'SupraMileageBundle::layout.html.twig' %}

{% block content -%}
    <h1>Client Details</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Show All Clients
        </a>
    </li>
    <li>
        <a href="{{ path('client_edit', { 'id': entity.id }) }}">
            Edit Client
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
