{% extends 'SupraMileageBundle::layout.html.twig' %}

{% block content -%}

    <h1>Edit Location</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('location') }}">
           Show all locations
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
