{% extends 'SupraMileageBundle::layout.html.twig' %}

{% block content -%}

    <h1>New Location</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('location') }}">
            Show all locations
        </a>
    </li>
</ul>
{% endblock %}
