{% extends 'SupraMileageBundle::layout.html.twig' %}

{% block content -%}

    <h1>Logging Trip</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('trip') }}">
            Show all trips
        </a>
    </li>
</ul>
{% endblock %}
